<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>



<table class="admin-page-table" th:if="${not #lists.isEmpty(userlist)}">
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Почта</th>
        <th>Дата регистрации</th>
        <th>Активация</th>
        <th>Роли</th>
        <th>Статус</th>
        <th>Разрешение</th>
        <th>Online</th>
    </tr>

    <tr th:each="user : ${userlist}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.getStringRegistrationDate()}"></td>
        <td>
            <input type="checkbox" disabled name="activationCode" th:class="user-list-content" th:checked="${#strings.isEmpty(user.activationCode)}">
        </td>
        <td>
            <div th:class="admin-page-table-role" th:name="rolesBox" th:each="role : ${allRoles}">
                <input th:id="${'role' + role.id}" type="checkbox" th:class="checkbox-circle" th:name="role" th:value="${role.id}" th:checked="${user.roles.contains(role)}">
                <label th:for="${'role' + role.id}" th:class="admin-page-table-role-name">
                    <span class="custom-checkbox"></span>
                    <span th:text="${role.name}"></span>
                </label>
            </div>
        </td>
        <td th:text="${user.status.getStatusName()}"></td>
        <td>
            <input type="checkbox" disabled th:class="user-list-content" th:checked="${user.loginAllowed}">
        </td>
        <td>
            <input type="checkbox" disabled th:class="user-list-content" th:checked="${user.online}">
        </td>
    </tr>
</table>

<div th:unless="${not #lists.isEmpty(userlist)}"></div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
<script src="/static/js/addCategory.js"></script>
</body>
</html>