<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Material Compact Login Animation</title>

   <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
   <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext'>
   <link rel='stylesheet' type='text/css' href="/static/sass/main.css">

</head>

<body>
<div class="background-autorize">
   <div class="dws-wrapper">
      <div class="dws-form">
         <label class="tab active">Вход</label>
         <a th:href="@{/registration}" class="tab">Регистрация</a>

         <form class="tab-form active" th:object="${loginForm}" id="loginForm" th:action="@{/perform_login}" method="post">
             <input class="input" name="username" placeholder="username">
             <input class="input" name="password" type="password" placeholder="пароль">
             <input type="submit" class="loginFormButton" value="Войти">
             <a href="#" class="forgot-button">Забыли e-mail или пароль?</a>
         </form>
          <p th:if="${message != null}" name="${message}" th:text="${message}"></p>
      </div>
   </div>
</div>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</body>
</html>


